@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Fira+Sans+Condensed:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --title: 'Fira Sans Condensed', sans-serif;
    --main: 'Cairo', sans-serif;
    --primary: navy;
    --secondary: crimson;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    color: var(--primary);
}

/* HEADER */

header nav {
    display: flex;
    width: 90%;
    background-color: var(--primary);
    margin: 20px auto;
    padding: 10px;
    justify-content: space-between;
}

header nav #sandwich {
    display: none;
}

header nav h1 {
    color: white;
}

header nav #menu {
    color: white;
    padding: 5px;
    flex-direction: column;
}

header nav div a {
    color: white;
    font-size: larger;
    text-decoration: none;
}

header nav div a article {
    margin: 5px;
    text-transform: uppercase;
}

/* MAIN STYLES */

main h2 {
    text-align: center;
}

.img {
    max-width: 300px;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

::part(body) {
    display: flex;
    justify-content: center;
}

sl-button::part(base) {
    margin: 6px;
}


sl-button-group::part(base) {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 500px) {
    header nav #menu {
        display: none;
    }

    header nav #sandwich {
        display: block;
    }
}